body {
    background-color: rgb(49, 49, 49);
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap:100px;
}

.button-container {
    display: flex;
    gap: 10px;
}

button {
    height: 100px;
    flex: 1;
    font-size: 72px;
}


.results, .vs {
    font-size: 72px;
    font-weight: bold;
    align-self: center;
}

.vs{
    font-size: 64px;
    color:blue;
}